---
---

@charset "utf-8";

// $base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   18px;

$footer-height:   180px;
$footer-margin:   30px;

// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// // Width of the content area
// $content-width:    800px;


// variables.less
$theme-background: white; 
$theme-highlight: #ffc414; //yellow
$theme-text: black;
$theme-primary: #008fff; //blue
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;
