<form aria-label="comment" 
      class="gformComment pure-form pure-form-stacked" method="POST"
      action="https://script.google.com/macros/s/AKfycbxKAGA2uMHH9i_9T8sN7rnyoaRWHHxqfBy45nPSrYMBW4CM1OE/exec">

      <div class="form-group">
        <label for="comment" class="visuallyhidden">Send a Comment: </label>
        <input type="text" name="comment" id="comment" placeholder="Type your comment here" class="form-control">
        <button class="btn btn-info" id="commentButton" type="send">Send</button>
      </div>

</form>








