<footer class="footer fixed-bottom row-fluid">

	<div class="container footer-content"> 

	<h4><a href="mailto:shapelab1@stanford.edu">Contact us</a> with any questions at shapelab1@stanford.edu.</h4>
	<!-- Or send us a quick commment here: -->
	<!-- {% include commentForm.html %} -->

	<p>We are conducting a survey on users' experience with data and accessibility in the media. <a href="{{ site.baseurl }}/survey">Visit our survey</a> if you are interested in participating. This work is being done at Stanford University and University of Michigan by researchers: Dan Fan, Alexa Siu, Sean Follmer, and Sile O'Modhrain.</p>

	<p>All content and analysis presented in this website are provided strictly for educational, informational, and demonstration purposes only. This website is not intended to be medical guidance or advice. The website relies upon publicly available data from various sources that may contain inaccuracies or uncertainties.</p>

	</div>

</footer>