<nav id="mainNav" class="navbar navbar-fixed-top navbar-custom" role="navigation">
    <div class="container-fluid">

        <!-- <B></B>rand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="study">Accessible Data</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                
                <li><a href="{{ "maine" | relative_url }}">Maine</a></li>
                <li><a href="{{ "montana" | relative_url }}">Montana</a></li>
                <li><a href="{{ "newHampshire" | relative_url }}">New Hampshire</a></li>
                <li><a href="{{ "northdakota" | relative_url }}">North Dakota</a></li>
                <li><a href="{{ "rhodeIsland" | relative_url }}">Rhode Island</a></li>
                <li><a href="{{ "southdakota" | relative_url }}">South Dakota</a></li>
                <li><a href="{{ "wyoming" | relative_url }}">Wyoming</a></li>
                <li><a href="{{ "vermont" | relative_url }}">Vermont</a></li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->

    </div>
    <!-- /.container-fluid -->
</nav>
