<h2>Have a question about this graph?</h2>

<p>
  Tell us what question you have and what modality you used to explore the data (audio, visual, both). Human volunteers will provide answers. We will post answers here after May 30 or you may provide an email to receive an alert when your question has been answered.
</p>

<!-- data-email="example@email.net"  -->
<form aria-label="{{ page.title }}" 
      class="gform pure-form pure-form-stacked" method="POST"
      action="https://script.google.com/macros/s/AKfycbxmXXdV4OMHci_NA-EeOMtqG2CXXPAa77gLyta6/exec">

  <div class="form-group">
    <label for="question">Question:</label>
    <input id="question" name="question" type="text" class="form-control" 
           placeholder="Type your question here">
  </div>

  <div role="group" aria-labelledby="modality">
    <div id="modality">Modality Used:</div>
    <div class="controls-row">
      <label class="radio-inline" for="audio">
        <input type="radio" name="modality" id="audio" value="audio"/>
        Audio
      </label>

      <label class="radio-inline" for="visual">
        <input type="radio" name="modality" id="visual" value="visual"/>
        Visual
      </label>
      <label class="radio-inline" for="visualAudio">
        <input type="radio" name="modality" id="visualAudio" value="visualAudio"/>
        Visual and Audio
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email <small>(if you would like to receive an alert when an answer is available)</small>:</label>
    <input id="email" name="email" type="email" class="form-control" placeholder="Email">
  </div>

  <div class="form-group" style="display: none;">
    <label for="plot">Email (optional):</label>
    <input id="plot" name="plot" type="text" class="form-control" placeholder="Plot Name" value="{{ page.title }}">
  </div>  

  <button type="submit" id="submit">Submit</button>

  <div aria-live="assertive" class="thankyou_message" id="displayQA" style="display:none;" tabindex="0"> 
      <h2>Submitted Q&A</h2>
      <p>
        Thank you for submitting a question. If you provided an email we will notify you of an answer. We are working on posting Q&As here soon. 
      </p>
      <p>
        No questions have been submitted or answered for this graph yet.
      </p>
  </div>

</form>








