

<div class="col-lg-8 col-lg-offset-2 question">

    <!-- <h3 class="section-heading text-center">Have a question about this graph?</h3> -->

<!-- 		<form class="form-inline" aria-labelledby="questionFlattenTheCurve">
		<fieldset class="form-group">

			<legend id="questionFlattenTheCurve">Have a question about this graph?</legend>

			<label for="questionFlattenTheCurve" class="sr-only">Type your question here</label>
			<input id="questionFlattenTheCurve"  class="form-control" type="text" placeholder="Type your question here"maxlength="80" size="80">
			<button type="submit" class="btn btn-primary">Submit</button>
		</fieldset>
		</form> -->


<form class="form-inline" aria-labelledby="questionFlattenTheCurve" action="http://bin.mailgun.net/af0b4ed8" method="post">
<fieldset class="form-group">
<legend id="questionFlattenTheCurve">Have a question about this graph?</legend>
<label for="questionFlattenTheCurve" class="sr-only">Type your question here</label>
<input id="questionFlattenTheCurve" class="form-control" type="text" placeholder="Type your question here" maxlength="80" size="80">
<button type="submit" class="btn btn-primary">Submit</button>
</fieldset>
</form>


		<h3 class="section-heading text-center">Browse Q&A Submitted About This Graph</h3>
		{% include historyFlattenTheCurve.html %}

</div>