<!-- Generates an H1 title + leading text if available -->
{% if page.title or page.authors or page.lead_text %}
<div class="container title-group">

    <div class="row">

        {% if page.title %}
        <h1 class="special">
            {{ page.title }}
        </h1>
        {% endif %}

        {% if page.authors %}
        <h2 class="special"> 
            {{ page.authors }}
        </h2>
        {% endif %}

        {% if page.lead_text %}
        <p class="lead">
            {{ page.lead_text }}
        </p>
        {% endif %}
        
    </div>
</div>
{% endif %}