html {
  position: relative;
  min-height: 100%;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-size: $base-font-size;
}

body {
  color: black;
  margin-bottom: $footer-height + $footer-margin;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  text-align: center;
}

h4 {
  font-size: 18px;
  font-weight: 700;
}

p {
    font-size: $base-font-size;
    line-height: 1.5;
    margin-bottom: 20px;
    color: black;
}

a {
    @include transition-all;
    color: #005ea7;
    &:hover,
    &:focus {
        color: #005ea7;
        text-decoration: underline;
        text-decoration-color: $theme-highlight;
        text-decoration-thickness: 3px;
    }
}

main {
    padding-top: 80px;
}

.btn-info {
  background-color: $theme-primary;
}

.pagination > .active > a {
  background-color: $theme-primary;
}

.pagination > li > a {
  color: $theme-primary;
}

.controls-row {
  margin-bottom: 15px;
}

#graph {
  max-width: 100%;
}

#displayQA {
  border: 1.5px solid $theme-highlight;
  background-color: WhiteSmoke;
  padding: 10px;
  margin: 25px;
}

.question {
    padding-top: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: $footer-margin;
  padding-top: 30px;
  border-top: 1.5px solid $theme-highlight;
  height: $footer-height;
  background-color: WhiteSmoke; //#f5f5f5;
}

//**  Navabar Style **//
.navbar-custom {
  background-color: $theme-primary;
  border-color: #005ea7;
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: black;
  background-color: white;
  text-decoration: underline;
  text-decoration-color: $theme-highlight;
  text-decoration-thickness: 3px;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: black;
  text-decoration: underline;
  text-decoration-color: $theme-highlight;
  text-decoration-thickness: 3px;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #005ea7;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #005ea7;
}
.navbar-custom .navbar-toggle {
  border-color: #005ea7;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #005ea7;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #ffffff;
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #ffffff;
}

.dropdown-menu {
  font-size: $base-font-size;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: underline;
  text-decoration-color: $theme-highlight;
  text-decoration-thickness: 3px;
}

@media (min-width: 767px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: 0;
  }
}

.bg-primary {
    background-color: $theme-background;
}

.bg-dark {
    background-color: $theme-dark;
    color: white;
}


