<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    <a id='skip-nav' class='screenreader-text' href='#main'>
      Skip to Main Content
    </a>

	{% include nav.html %}

	<main id="main" role="main" tabindex="-1">

		{% include title-group.html %}

		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">

					{{ content }}

					{% if page.lastUpdated %}
						<div class="lastUpdated">
							<p>Last Updated: {{ page.lastUpdated }}</p>
						</div>
					{% endif %}
				    
				</div>
			</div>
		</div>

	</main>

	{% include footer.html %}

</body>

</html>